node_modules
.next/*
!.env
!.env.local
!.env.development.local
!.env.test.local
!.env.production.local
.next/closed-port-file
.next/build-status.json
.next/call-route-handler.json
.next/escape-routes.json
.next/required-server-files.json
.next/routes-manifest.json
.next/server
.next/server/middleware-manifest.json
.next/server/middleware-react-loadern-manifest.next.js
.next/server/pages-manifest.json
.next/static
.next/traced-routes.json
.cache
coverage
*.key
*.pem
*.json
*.tsbuildinfo
*.tmp
*.log
.DS_Store
.env*.local
!.env
session-notes/
project-plans/*
